<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Filmyhud</title>
<link rel="icon" href="https://telegra.ph/file/c08ca0437a7444b0d479a.jpg"/>
    <link rel="stylesheet" type='text/css' href="https://Pradeepnagal.github.io/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>

</head>

<body>

    <header>

        <div class="toogle"></div>

        <div id="file-name">

           <marquee direction = "left"> %s</marquee>

        </div>

    </header>

    <div class="container">

        <tag src="%s" class="player"></tag>

    </div>

    

    <footer>

	<h4><a href="tg://resolve?domain=filmyhudbot" style="color:blue" >Make your own Link &emsp; &emsp;&emsp;&emsp;
	</a></h4>        <span id="fork-text">Follow me &emsp;</span>

        <span>

            <a href="http://Instagram.com/pradeep___nagal" id='github-logo'>

                <svg class="instagram-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
	 viewBox="0 0 551.034 551.034" style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
		<path class="logo" id="XMLID_17_" d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>
	
		<path id="XMLID_81_" fill="#555" d="M275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z"/>
	
		<circle id="XMLID_83_" fill="#555" cx="418.306" cy="134.072" r="34.149"/>

</svg>
            </a>

		

        </span>

	    

    </footer>

    

    

    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>

	<script>

        const controls = [

              'play-large',

              'rewind',

              'play', 

              'fast-forward', 

              'progress', 

              'current-time',

              'duration',

              'mute',

              'volume',

              'captions',

              'settings',

              'pip',

              'airplay',

              'download',

              'fullscreen'

            ];

        document.addEventListener('DOMContentLoaded', () => {

            const player = Plyr.setup('.player', { controls });

        });

        const body = document.querySelector('body');

        const footer = document.querySelector('footer');

        const toogle = document.querySelector('.toogle');

        toogle.onclick = () => {

            body.classList.toggle('dark')

            footer.classList.toggle('dark')

        }

    </script>

</body>

</html>
