
<!DOCTYPE html>
<html lang="en">
<head>   <meta charset="UTF-8">
    <meta property="og:image" content="https://telegra.ph/file/c08ca0437a7444b0d479a.jpg" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>
<style>
    .wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #e89ba4;
  width: calc(90% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box2{
  background: #bfeaff;
  width: calc(100% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  border: 2px solid black;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
 text-align: center;
}
	.buttonpk{
  position: relative;
  height: 55px;
  width: 250px;
  margin: 10px 70px;
  border-radius: 7px;
  border: none;
  outline: none;
  background:#393e61;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  
}
</style>
</head>

<body>
    <header>
        <a href="https://filmyhud.blogspot.com>"  <div class="wrapper">
            <div class="box2">
                FILMYHUD
            </div>
            
        </div></a><hr>

        <div id="file-name">
           <marquee direction = "left"> %s</marquee>
        </div>
    </header>

        <hr>
    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>
    
 <hr>

    <footer>
	    <div>
   <a href="https://t.me/king_pk"><button class="buttonpk">REPORT ERROR</button></a>
</div>
    </footer>
    
    
    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
        toogle.onclick = () => {
            body.classList.toggle('dark')
            footer.classList.toggle('dark')
        }
    </script>
    <div>

        <script async="async" data-cfasync="false" src="//pl17620645.highperformancegate.com/b9ae47282d55ecc12a00ba6b63caa23f/invoke.js"></script>
<div id="container-b9ae47282d55ecc12a00ba6b63caa23f"></div>
    <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
        
    </div>
</body>
</html>
