
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://telegra.ph/file/c08ca0437a7444b0d479a.jpg" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://github.com/Pradeepnagal/files/tree/main/plyr/plyr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>

</head>

<body>
    <header>
        <div class="toogle"></div>
        <div id="file-name">
           <marquee direction = "left"> %s</marquee>
        </div>
    </header>

    <div class="container">
        <tag src="%s" ></tag>
    </div>
    
 <hr>
   <div class="ads">

        <script async="async" data-cfasync="false" src="//pl17620645.highperformancegate.com/b9ae47282d55ecc12a00ba6b63caa23f/invoke.js"></script>
<div id="container-b9ae47282d55ecc12a00ba6b63caa23f"></div>
    <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>

<script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   <script type="text/javascript">
	atOptions = {
		'key' : '29d96270e987b8afd1717634c56ed0f7',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/29d96270e987b8afd1717634c56ed0f7/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
       <script type="text/javascript">
	atOptions = {
		'key' : 'da49e17ecd44a2a9835c8fa0481aff90',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/da49e17ecd44a2a9835c8fa0481aff90/invoke.js"></scr' + 'ipt>');
</script>
   
        
    </div>

    <footer>
	    <a href="https://filmyhud.blogspot.com" style="color:blue" >DOWNLOAD HINDI HD MOVIES &emsp; &emsp;</a>
    </footer>
    
    
    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
        toogle.onclick = () => {
            body.classList.toggle('dark')
            footer.classList.toggle('dark')
        }
    </script>
     
</body>
</html>


	


		


	
	
		'
   
        
    


